/* Login.css */
body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-left: calc(50% - 440px);
    margin-top: 10vh
}
	
@media (min-width: 600px) and (max-width: 1000px) {
    .container {
        width: 600px;
        margin-left: calc(50% - 340px);
    }
}

	
@media (min-width: 400px) and (max-width: 600px) {
    .container {
        width: 400px;
        margin-left: calc(50% - 240px);
    }
}

@media (max-width: 399px) {
    .container {
        width: 300px;
        margin-left: calc(50% - 150px);
    }
}

.signHeader {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.signTag {
    color: #bdc3c7;
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form h1 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    color: #2c3e50;
    text-align: left;
    margin-bottom: 5px;
}

.sginInput {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
