/* home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    color: #333;
}

.header p {
    font-size: 1.2em;
    color: #666;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #666;
}

/* Responsive styles */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}

/* Modal styles */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReactModal__Content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    width: 80%;
    max-width: 500px;
  }
  
  .modal-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-body {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .open-button {
    padding: 10px 20px;
    background-color: #ff0033;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }

  .open-button:hover {
    background-color: #b3002a;
  }
  
  
  .close-button:hover {
    background-color: #0056b3;
  }






  /* section calendar */

.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}

a {
    text-decoration: none;
    color: black;
}


/* Login.css */
body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-left: calc(50% - 440px);
    margin-top: 10vh
}
	
@media (min-width: 600px) and (max-width: 1000px) {
    .container {
        width: 600px;
        margin-left: calc(50% - 340px);
    }
}

	
@media (min-width: 400px) and (max-width: 600px) {
    .container {
        width: 400px;
        margin-left: calc(50% - 240px);
    }
}

@media (max-width: 399px) {
    .container {
        width: 300px;
        margin-left: calc(50% - 150px);
    }
}

.signHeader {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.signTag {
    color: #bdc3c7;
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form h1 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    color: #2c3e50;
    text-align: left;
    margin-bottom: 5px;
}

.sginInput {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

error-message {
    color: red;
}

.entries-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entry-item {
    border-top: 1.5px solid #9a9a9a;
    /* border-radius: 15px; */
    position: relative;
    width: 100%;
}

.entry-item > h5 {
    position: absolute;
    top: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: center;
    left: 50%;
    width: 30px;
}

.entry-item > h5, p {
    margin: 0;
    padding: 0;

}

.entry-item > p {
    text-align: right;
    position: relative;
    bottom: 10px;
    right: 20px;
}

.entry-item > button {
    background-color: rgba(255, 255, 255, 0) !important;
    color: black;
    float: right;
    position: relative;
    right: 10px;

}

.entry-item > h3 {
    margin-block-start: 2em;
    margin-block-end: 0em;
    position: relative;
    right: -30px;
}